
 p { 
 color:black;
	font-family: Copperplate,"Copperplate Gothic Light",fantasy;
font-size:150%
 }    
hr {
	color:blue;
}
h1 {
	color:blue;
	border-color:gray;
		
}


img{ border-color: blue;

}
h2{
color:blue;
border-color:black;
}

h3{ 
	color:blue;
}
